


/********** HEADER ***************/


.header {
    width: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height:5rem;
}

.header .logo a {
    font-size: 2rem;
}

.nav-list__item {
    display: none;
}

/********** TOP ***************/
.top-section {
    display: grid;
    justify-items: center;
}

.top-pic img {
    width: 36rem;
}

.top-words {
    display: none;
}

.top-grad {
    width:36rem;
    height: 5rem;
    background-image: linear-gradient(to top right, orange, pink);
    margin-top: -1rem;
}

.top-mid__bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-bar__item {
    width: 36rem;
    height: 15rem;
    text-align: center;
    display: grid;
    justify-items: center;
    align-content: center;
    
}

.top-bar__item img {
    width: 8rem;
}

.learning {
    background-color: rgb(22, 190, 190);
}

.philosophy {
    background-color: rgb(245, 202, 11);
}

.practice {
    background-color: rgb(255, 134, 255);
}

.sports {
    background-color: rgb(67, 150, 206);
}


/********** SECOND ***************/

.second-container {
    width: 100%;
    background-color: rgb(22, 190, 190);
    margin-top: 5rem;
}

.second-section {
    display: flex;
    flex-direction: column;
    color: white;   
    padding: 5rem 3rem 2rem 3rem;
    width: 36rem;
    margin: auto;
    
}

.second-line hr{
    width: 16rem;
    color: white;
    margin-top: 1.7rem;
}

/********** THIRD ***************/

.third-section {
    text-align: center;
    display: grid;
    justify-items: center;
    
    margin: 3rem;
}

.third-section h2{
    color:grey;
    
}


.third-msg__1,
.third-msg__2 {
    width: 28rem;
     margin: 4rem auto 3rem auto;
      
}

.third-msg__1 > img {
    width: 4rem;
    border-radius: 100%;
    background-color: rgb(255, 134, 255);
}

.third-msg__2 > img {
    width: 4rem;
    border-radius: 100%;
    background-color: rgb(22, 190, 190);
    
    
}

.third-section p {
    color:grey;
    
    font-style: italic;
    margin-bottom: 3rem;
}

.third-section a {
    text-decoration: none;
    color: rgb(255, 134, 255);
    font-weight: bold;
}

.img-3,
.img-4,
.img-5 {
    width: 28rem;
    margin: 0.5rem;
}

/********** FORTH ***************/
.forth-section {
    width: 100%;
    background-color: rgb(245, 202, 11);
    text-align: center;
    
}

.forth-section__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forth-words {
    padding: 3rem;
    color: white;
}

.forth-section h3 {
    padding-top: 2rem;
}

.environment p,
.active-learning p,
.creative-lessons p,
.qualified-teacher p {
    font-style: italic;
    font-weight:200;
    padding: 2rem;
}

.environment h3 {
    color:rgb(255, 134, 255);
}
.active-learning h3 {
    color:rgb(67, 150, 206);
}
.creative-lessons h3 {
    color:rgb(22, 190, 190);
}
.qualified-teacher h3 {
    color: rgb(245, 202, 11);
}



.services-box {
    width: 28rem;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    
}

.services-box img {
    width: 4rem;
}

/********** FIFTH ***************/

.fifth-section__container {
    width: 36rem;
    margin: 5rem auto 5rem auto;

}

.fifth-grid {
    position: relative;
}

.fifth-img1 {
    width: 12rem;
    height: 40rem; 
    object-fit: cover;
    object-position: 50% 10%;
    display: block;
    margin-left: 2rem;
    margin-bottom: 5rem;
    
}

.fifth-grad {
    width: 23rem;
    height: 30rem;
    background-image: linear-gradient(to top,orange,pink);
    position: absolute;
    top: 4rem;
    left: 8rem;
 
}

.fifth-img2 {
    width: 15rem;
    height: 30rem; 
    object-fit: cover;
    object-position: 50% 10%;
    position:absolute;
    top: 8rem;
    left: 14.5rem;
}


.fifth-words {
    width: 28rem;
    
}

.fifth-section__container h1 {
    color:rgb(67, 150, 206);
    
}

.fifth-section__container p {
    margin-bottom: 2rem;
}

.fifth-section__container a {
    text-decoration: none;
    color: rgb(255, 134, 255);
    font-weight: bold;
    
}

/********** SIXTH ***************/
.sixth-section {
    width: 100%;
    background-color: rgb(67, 150, 206);
    
}
.sixth-container {
    display: grid;
    
    color: white;   
    padding: 4rem; 
    width: 36rem;
    
    
}



.sixth-container h2{
    width: 25rem;
    text-align: left;
    padding-bottom: 2rem;
}


/********** SEVENTH ***************/
.seventh-section {
    margin-top: 4rem;
}


.seventh-flex__container {
    display: grid;
    justify-items: center;
    width: 36rem;
    

}


.seventh-top {
    text-align: center;
    margin-bottom: 3rem;
}

.seventh-section h3,
.seventh-section p  {
    color:grey;
}

.seventh-top__3 {
    text-align: right;
    margin-bottom: 3rem;
    line-height: 2;
}

.seventh-bot__3 {
    text-align: left;
    margin-top: 3rem;
    line-height: 2;
}


/********** EIGHT ***************/
.eight-flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
    width: 36rem;
}

.eight-flex__container img {
    width: 4rem;
    border-radius: 100%;
    margin-bottom: 2rem;
    
}

.eight-flex__container p {
    font-size: 1.2rem;
    
}

.location,
.mobile-number,
.email {
    width: 36rem;
    margin: 7rem;
    padding-top: 5rem;
}

.location .location-img {
    background-color: rgb(255, 134, 255);
}

.mobile-number .mobile-img {
    background-color: rgb(245, 202, 11);
}

.email .email-img {
    background-color: rgb(22, 190, 190);
}



.eight-flex__container p {
    font-weight: bold;
}



/********** footer ***************/

.footer {
    width: 100%;
    background-color: rgb(255, 134, 255);
    
}

.footer-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 36rem;
    justify-self: center;
    margin: auto;

}

.footer img {
    width: 1.5rem;
    padding: 3rem;
}

/********** ATTRIBUTE ***************/

.attribute {
    width: 100%;
    background-color: black;
    height: 3rem;
    text-align: center;
}

.attribute p {
    color: white;
}






/*********** Media query *************/
